# Gnome custom keyboard shortcuts
alias kexport="dconf dump / | sed -n '/\[org.gnome.settings-daemon.plugins.media-keys/,/^$/p' > ~/Config/custom-shortcuts.conf"
alias kimport="dconf load / < ~/Config/custom-shortcuts.conf"

# Bashrc stuff
alias sauce="source ~/.bashrc"
alias ada="cp ~/Config/.aliases ~/"
alias adf="cp ~/Config/.functions ~/"
alias aa="ada; adf; sauce"
alias zz="nvim ~/Config/.aliases"

# Network stuff
alias ping="ping -c 5"
alias ip="ip -c=always"
alias ipa="ip a"
alias ipn="ip neigh show"

# VPN stuff
alias vpn="expressvpn"
alias vpna="vpn activate"
alias vpnc="vpn connect"
alias vpnd="vpn disconnect"
alias vpns="vpn status"
alias vpnl="vpn ls"

# Change directory stuff
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Access folders
alias tt="cd ~/Notes"
alias gg="cd ~/Code"
alias rr="cd ~/Downloads"
alias qq="cd ~/Config"

# Pacman
alias pm="sudo pacman --color auto"
alias vv="pm -S"
alias vvv="vv --noconfirm"
alias yy="yay -S"
alias yyy="yy --noconfirm"
alias xx="pm -U"
alias dl="pm -R"
alias uu="pm -Syyu"

# Numbers commands
alias 00="grep --color=auto"
alias 11="python3"
alias 22="go run main.go"
alias 33="yarn start"
alias 66="kill -9"

# Letters commands
alias bb="cd"
alias ww="code ."
alias ee="exit"
alias ex="chmod u+x"
alias ff="clear"
alias vi="nvim"
alias l="ls --color=auto"
alias ll="l -la"
alias pp="ps aux | 00 -v grep | 00 -i"
alias mp="makepkg -si"

# Git stuff
alias gi="git init"
alias gs="git status"
alias gc="git commit"
alias gcm="gc -m"
alias ga="git add"
alias gp="git push"
alias gr="git restore"
alias clone="git clone"
alias pull="git pull"

# Vscode
alias vskbi="cp ~/Config/.conf/vscode/keybindings.json ~/.config/Code/User/"
alias vskbe="cp ~/.config/Code/User/keybindings.json ~/Config/.conf/vscode/"
alias vsexi="code --install-extension $(cat ~/Config/.conf/vscode/extensions)"
alias vsexe="code --list-extensions > ~/Config/.conf/vscode/extensions"
alias vssni="cp -r ~/Config/.conf/vscode/snippets ~/.config/Code/User/"
alias vssne="cp -r ~/.config/Code/User/snippets ~/Config/.conf/vscode/"
alias vsi="vskbi; vsexi; vssni"
alias vse="vskbe; vsexe; vssne"
