# Export custom keyboard shortcuts for gnome
alias kexport="dconf dump / | sed -n '/\[org.gnome.settings-daemon.plugins.media-keys/,/^$/p' > ~/Config/custom-shortcuts.conf"

# Import custom keyboard shortcuts for gnome
alias kimport="dconf load / < ~/Config/custom-shortcuts.conf"

# Network stuff
alias ping="ping -c 5"
alias ip="ip -c=always"
alias ipa="ip -c=always a"
alias ipn="ip -c=always neigh show"

# VPN stuff
alias vpn="expressvpn"
alias vpna="expressvpn activate"
alias vpnc="expressvpn connect"
alias vpnd="expressvpn disconnect"
alias vpns="expressvpn status"
alias vpnl="expressvpn ls"

# Change directory stuff
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Access folders
alias tt="cd ~/Notes"
alias gg="cd ~/Code"
alias rr="cd ~/Downloads"
alias qq="cd ~/Config"

# Commands
alias vv="sudo pacman --color auto -S"
alias xx="sudo pacman --color auto -U"
alias 11="python3"
alias 22="go run main.go"
alias 33="yarn start"
alias bb="cd"
alias ee="exit"
alias ff="clear"
alias vi="nvim"

# Manage .bashrc
alias aa="cp ~/Config/.aliases ~/; source ~/.bashrc"
alias af="cp ~/Config/.functions ~/; source ~/.bashrc"
alias zz="nvim ~/Config/.aliases"

# Available aliases
# alias ww=""
# alias 44=""
# alias 55=""

# Git stuff
alias gi="git init"
alias gs="git status"
alias gc="git commit"
alias ga="git add"
alias gp="git push"
alias gr="git restore"
alias clone="git clone"
alias pull="git pull"

# Assorted stuff
alias entry="systemctl start sshd"
alias sauce="source ~/.bashrc"
alias exe="chmod u+x"

