# Export custom keyboard shortcuts for gnome
alias kexport="dconf dump / | sed -n '/\[org.gnome.settings-daemon.plugins.media-keys/,/^$/p' > ~/Config/custom-shortcuts.conf"

# Import custom keyboard shortcuts for gnome
alias kimport="dconf load / < ~/Config/custom-shortcuts.conf"

# Network stuff
alias ping="ping -c 5"
alias ip="ip -c=always"
alias ipa="ip a"
alias ipn="ip neigh show"

# VPN stuff
alias vpn="expressvpn"
alias vpna="vpn activate"
alias vpnc="vpn connect"
alias vpnd="vpn disconnect"
alias vpns="vpn status"
alias vpnl="vpn ls"

# Change directory stuff
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Access folders
alias tt="cd ~/Notes"
alias gg="cd ~/Code"
alias rr="cd ~/Downloads"
alias qq="cd ~/Config"

# Pacman
alias pm="sudo pacman --color auto"
alias vv="pm -S"
alias xx="pm -U"
alias dl="pm -R"
alias uu="pm -Syyu"

# Numbers commands
alias 00="grep --color=auto"
alias 11="python3"
alias 22="go run main.go"
alias 33="yarn start"
alias 66="kill -9"

# Letters commands
alias bb="cd"
alias ww="code ."
alias ee="exit"
alias ff="clear"
alias vi="nvim"
alias l="ls --color=auto"
alias ll="l -la"
alias pp="ps aux | 00 -v grep | 00 -i"
alias mp="makepkg -si"

# Manage .bashrc
alias aa="cp ~/Config/.aliases ~/; source ~/.bashrc"
alias af="cp ~/Config/.functions ~/; source ~/.bashrc"
alias zz="nvim ~/Config/.aliases"

# Git stuff
alias gi="git init"
alias gs="git status"
alias gc="git commit"
alias gcm="gc -m"
alias ga="git add"
alias gp="git push"
alias gr="git restore"
alias clone="git clone"
alias pull="git pull"

# Assorted stuff
alias entry="systemctl start sshd"
alias sauce="source ~/.bashrc"
alias exe="chmod u+x"
