# mkdir then cd
mm() {
    mkdir -p "$1" && cd "$1"
}

# AUR manual install
am() {
    git clone "https://aur.archlinux.org/$1.git"
    cd $1
    makepkg -s && sudo pacman -U *.pkg.tar.zst
    cd ..
}

# AUR manual install noconfim
amn() {
    git clone "https://aur.archlinux.org/$1.git"
    cd $1
    makepkg -s && sudo pacman -U *.pkg.tar.zst --noconfirm
    cd ..
}

# systemctl enable start status
ess() {
    sudo systemctl enable $1
    sudo systemctl start $1
    sudo systemctl status $1
}

# joins file lines with a space
range() {
    tr '\n' ' ' < $1
}

# executes command for each val in target
map() {
    local cmd=("${@:1:$#-1}")
    local target="${@:$#}"
    for val in $(range $target); do ${cmd[@]} $val; done
}
