# mkdir then cd
mm() {
    mkdir -p "$1" && cd "$1"
}

# AUR manual install
am() {
    git clone "https://aur.archlinux.org/$1.git"
    cd $1
    makepkg -si
    cd ..
}

# systemctl enable start status
ess() {
    sudo systemctl enable $1
    sudo systemctl start $1
    sudo systemctl status $1
}
